﻿@model IEnumerable<Otimizacao_Rotas.ViewModel.OrderClient>

    @{ ViewData["Title"] = "AddOrder";
    }

    <h1>AddOrder</h1>

    <h4>Order</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddOrder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*Call Partial view and will return the clientId then autoupdate the address*@

                <label class="control-label">Client:</label>
                <select class="form-control" name="clients" id="clients" onchange="myFunction()">
                    <option>-- Choose the Client --</option>
                    @foreach (var item in Model)
                    {
                    if (item.Name != null)
                    {
                    <option id="option" value="@item.ClientId-@item.Address">
                        Nome:@item.Name
                        Email:@item.Email

                    </option>
                    }

                    }

                </select>



                <input name="idClient" id="clientId" style="display:none;" class="form-control" />
                <label class="control-label">Address:</label>
                <input name="address" id="address" class="form-control" />








                <div>
                    <label class="control-label">Courier:</label>
                    <select class="form-control" name="idCourier" id="Estafeta">
                        <option>-- Choose the Courier --</option>
                        @foreach (var item in Model)
                        {
                        if (item.CourierId != null)
                        {
                        <option value="@item.CourierId">@item.CourierName</option>

                        }

                        }

                    </select>
                    @*<select style="display:none;" id="todasEncomendas">
                        @foreach (var item in ViewBag.TodasEncomendas)
                        {

                        <option value="@item">@item</option>
                        }

                    </select>*@
                </div>

                <div>
                    <input name="date" type="date" />
                    <input name="time" id="tempo" type="time" value="23:59" @*onclick="checktime()" *@ />
                </div>
                <br />

                @*<div class="form-group">
                    <label asp-for="@Model." class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>*@


                @*<div class="form-group">
                    <label asp-for="date" class="control-label"></label>
                    <input asp-for="date" class="form-control" />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>*@
                @*<div class="form-group">
                    <label asp-for="CourierId" class="control-label"></label>
                    <input asp-for="CourierId" class="form-control" />
                    <span asp-validation-for="CourierId" class="text-danger"></span>
                </div>*@

                <div class="form-group">
                    <input type="submit" value="Create" id="enviar" class="btn btn-primary" />
                </div>

                @*<div class="form-group">
                    <input type="button" id="verificar" value="Create" style="display:none;" onclick="validate()" class="btn btn-primary" />
                </div>*@

            </form>
        </div>
    </div>

    <div>
        <a asp-action="ListOrder">Back to List</a>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    @*
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5fWHYTqECdVSL-v2SvSGhqSNhPW7y4BE&callback=initMap&libraries=&v=weekly"
            async></script>*@
    
    <script>
      
    function myFunction() {
        //var x = document.getElementById("clients");
        //var IdClient = x.value;


        /*document.getElementById("address").value = IdClient;*/
        var x = document.getElementById("clients").selectedIndex;
        var str = document.getElementsByTagName("option")[x].value;
        var separar = str.split('-').pop();
        var id = str.substr(0, str.indexOf('-'));
        document.getElementById("clientId").value = id;
        document.getElementById("address").value = separar;
    }
    //function checktime() {
    //    if (document.getElementById("tempo").value != "23;59") {
    //        document.getElementById("verificar").style.display = "inline";
    //        document.getElementById("enviar").style.display = "none";
    //    }
    //    else {
    //        document.getElementById("verificar").style.display = "none";
    //        document.getElementById("enviar").style.display = "inline";
    //    }

    //}
    //    function validate() {
    //        var x = document.getElementById("todasEncomendas");
    //        var e = document.getElementById("Estafeta").value;
    //        var IdCourier = e.value;
    //        var tempo=[];
    //        x.foreach(element => {
    //            if (x.CourierId == IdCourier) {
    //                const directionsService = new google.maps.DirectionsService();
    //                var directionsRenderer = new google.maps.DirectionsRenderer();

    //                geocoder = new google.maps.Geocoder();
    //                directionsRenderer.setMap(map);


    //                directionsService.route(
    //                    {
    //                        origin: document.getElementById("address").value,
    //                        destination: element,//todas encomendas
    //                        travelMode: google.maps.TravelMode.DRIVING,
    //                    },
    //                    (response, status) => {
    //                        if (status === "OK" && response) {
    //                            directionsRenderer.setDirections(response);
    //                            console.log(response);
    //                            const route = response.routes[0];
    //                            //directionsRenderer.setPanel(document.getElementById("directions-panel"))
    //                            const summaryPanel = document.getElementById("directions-panel");
    //                            summaryPanel.innerHTML = "";
    //                            // For each route, display summary information.
    //                            Tempo = [];
    //                            for (let i = 0; i < route.legs.length; i++) {


    //                                tempo.push(route.legs[i].duration.text);

    //                            }


    //                        }

    //                    }
    //                );
    //            }
    //        });


    //    }

    </script>
