﻿<!DOCTYPE html>
<html>
<head>
    <title>Waypoints in Directions</title>
    <script>var IdsJs = '@ViewBag.OrdersIds'</script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
        #right-panel {
            font-family: "Roboto", "sans-serif";
            /* line-height: 30px;
            padding-left: 10px; */
        }

            #right-panel select,
            #right-panel input {
                font-size: 15px;
            }

            #right-panel select {
                width: 100%;
            }

            #right-panel i {
                font-size: 12px;
            }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 600px;
            float: left;
            width: 100%;
        }

        #right-panel {
            /*display: block;*/
            /* margin: 20px; */
            /* border-width: 2px; */
            width: 100%;
            height: 200px;
            float: left;
            text-align: left;
            /* padding-top: 0;             */
        }

        #Container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: auto;
            flex-wrap: wrap;
        }

        #StartDiv {
            min-width: 300px;
        }

        #EndDiv {
            min-width: 300px;
        }

        #WaypointsDiv {
            min-width: 300px;
        }


        #OtherContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        #directions-panel {
            margin-top: 10px;
            background-color: #ffee77;
            padding: 10px;
            overflow: scroll;
            height: 174px;
        }
    </style>
    <script>
        var Tempo = [];
        var origem;
        var directionsRenderer;
        var parametro;
        var geocoder;
        var hashPlaces = {};
        var infoWindow;
        const minhapos = [];

        window.onload = function () {
            var x = document.getElementById("start");
            // var option = document.createElement("option");
            // option.text = "Kiwi";
            // x.add(option);
        }
        function initMap() {
            const directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 6,
                center: { lat: 41.301962, lng: -7.797316 },
            });
            geocoder = new google.maps.Geocoder();
            directionsRenderer.setMap(map);
            document.getElementById("submit").addEventListener("click", () => {
                if (document.getElementById("end").value == "") {
                    alert("Nao tem encomendas ou local de fim");
                }
                else
                    calculateAndDisplayRoute(directionsService, directionsRenderer);
            });
            infoWindow = new google.maps.InfoWindow();
            const locationButton = document.createElement("button");
            locationButton.textContent = "Get Current Location";
            locationButton.classList.add("custom-map-control-button");
            locationButton.classList.add("form-control");
            locationButton.style.width = "300px";
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => {
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            var pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                            minhapos.push(position.coords.latitude);
                            minhapos.push(position.coords.longitude);
                            Myposition();
                            infoWindow.setPosition(pos);
                            infoWindow.setContent("Location found.");
                            infoWindow.open(map);
                            map.setCenter(pos);

                        },
                        () => {
                            handleLocationError(true, infoWindow, map.getCenter());
                        }
                    );
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            });
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }

        function calculateAndDisplayRoute(directionsService, directionsRenderer) {
            const waypts = [];
            const checkboxArray = document.getElementById("waypoints");
            if(checkboxArray!=null)
            for (let i = 0; i < checkboxArray.length; i++) {
                if (checkboxArray.options[i].selected) {
                    waypts.push({
                        location: checkboxArray[i].value,
                        stopover: true,
                    });
                }
            }

            if (document.getElementById("verifyHours").value) {
                console.log("SIM");
                directionsService.route(
                    {
                        origin: document.getElementById("start").value,
                        destination: document.getElementById("end").value,
                        waypoints: waypts,
                        optimizeWaypoints: false,
                        travelMode: google.maps.TravelMode.DRIVING,
                    },
                    (response, status) => {
                        if (status === "OK" && response) {
                            directionsRenderer.setDirections(response);
                            console.log(response);
                            const route = response.routes[0];
                            //directionsRenderer.setPanel(document.getElementById("directions-panel"))
                            const summaryPanel = document.getElementById("directions-panel");
                            summaryPanel.innerHTML = "";
                            // For each route, display summary information.
                            Tempo = [];
                            for (let i = 0; i < route.legs.length; i++) {
                                const routeSegment = i + 1;
                                summaryPanel.innerHTML +=
                                    "<b>Route Segment: " + routeSegment + "</b><br>";
                                summaryPanel.innerHTML += route.legs[i].start_address + " to ";
                                summaryPanel.innerHTML += route.legs[i].end_address + "<br>";
                                summaryPanel.innerHTML += route.legs[i].duration.text + "<br>";
                                summaryPanel.innerHTML +=
                                    route.legs[i].distance.text + "<br><br>";
                                //chamar funcao para ter as horas
                                GetHoras(route.legs[i].duration.text);
                            }
                            verificaHoras();
                            //console.log(Tempo);
                            parametro = directionsRenderer.getDirections();
                            origem = document.getElementById("start").value;
                        }
                        //else {
                        //    window.alert("Directions request failed due to " + status);
                        //}
                    }
                );
            }
            else {
                console.log("NAO");
                directionsService.route(
                    {
                        origin: document.getElementById("start").value,
                        destination: document.getElementById("end").value,
                        waypoints: waypts,
                        optimizeWaypoints: true,
                        travelMode: google.maps.TravelMode.DRIVING,
                    },
                    (response, status) => {
                        if (status === "OK" && response) {
                            directionsRenderer.setDirections(response);
                            console.log(response);
                            const route = response.routes[0];
                            //directionsRenderer.setPanel(document.getElementById("directions-panel"))
                            const summaryPanel = document.getElementById("directions-panel");
                            summaryPanel.innerHTML = "";
                            // For each route, display summary information.
                            Tempo = [];
                            for (let i = 0; i < route.legs.length; i++) {
                                const routeSegment = i + 1;
                                summaryPanel.innerHTML +=
                                    "<b>Route Segment: " + routeSegment + "</b><br>";
                                summaryPanel.innerHTML += route.legs[i].start_address + " to ";
                                summaryPanel.innerHTML += route.legs[i].end_address + "<br>";
                                summaryPanel.innerHTML += route.legs[i].duration.text + "<br>";
                                summaryPanel.innerHTML +=
                                    route.legs[i].distance.text + "<br><br>";
                                //chamar funcao para ter as horas
                                GetHoras(route.legs[i].duration.text);
                            }
                            //console.log(Tempo);
                            parametro = directionsRenderer.getDirections();
                            origem = document.getElementById("start").value;
                        } else {
                            window.alert("Directions request failed due to " + status);
                        }
                    }
                );
            }
        }
        function GetHoras(time) {
            //console.log("carateres");
            var HoursAndMinutes="";
            var controla = false;
            for (var i = 0; i < time.length; i++) {
                if (time[i] >= 0 && time[i] <= 9) {
                    //console.log(HoursAndMinutes);
                    HoursAndMinutes = HoursAndMinutes + time[i];
                }
                   
                else if (time[i] == "h" && !controla) {
                    HoursAndMinutes = HoursAndMinutes + ":";
                    controla = true;
                }
                    
            }
            
            Tempo.push(HoursAndMinutes);
        }

        function geocodePlaceId(placeId) {
            return new Promise(function (resolve, reject) {
                geocoder.geocode({ 'placeId': placeId }, function (results, status) {
                    if (status === 'OK') {
                        var r = Object.create(null);
                        r[placeId] = results[0].formatted_address
                        resolve(r);
                    } else {
                        reject('Geocode was not successful for the following reason: ' + status);
                    }
                });
            });
        }

        function prepareMapLink(result) {
            var arrWp = [];
            result.geocoded_waypoints.forEach(function (wp) {
                arrWp.push(wp.place_id);
            });

            var oplaceId = arrWp.shift();
            var dplaceId = arrWp.pop();

            var arrProm = [];
            arrWp.forEach(function (pId) {
                if (!hashPlaces[pId]) {
                    arrProm.push(geocodePlaceId(pId));
                }
            });
            if (arrProm.length) {
                Promise.all(arrProm).then(function (values) {
                    values.forEach(function (val) {
                        for (key in val) {
                            hashPlaces[key] = val[key];
                        }
                    });
                    constructMapsUrl(oplaceId, dplaceId, arrWp);
                }).catch(reason => {
                    console.log(reason)
                });
            } else {
                constructMapsUrl(oplaceId, dplaceId, arrWp);
            }

        }

        function constructMapsUrl(originId, destinationId, waypoints) {
            var res = "https://www.google.com/maps/dir/?api=1&";
            res += "origin=" + encodeURIComponent(origem) + "&origin_place_id=" + originId;
            res += "&destination=" + encodeURIComponent(origem) + "&destination_place_id=" + destinationId;

            var wpAddr = [];
            waypoints.forEach(function (wp) {
                wpAddr.push(hashPlaces[wp]);
            });

            var waypointsStr = encodeURIComponent(wpAddr.join('|'));
            var waypointsIds = waypoints.join('|');

            res += "&waypoints=" + waypointsStr + "&waypoint_place_ids=" + waypointsIds + "&travelmode=driving";

            var aElem = document.getElementById("mapLink");
            console.log(res);
            //aElem.setAttribute("href", res);
            aElem.value = res;
            copiar();
        }

        function aparece() {
            //console.log(document.getElementById("start").value);
            if (document.getElementById("start").value != "" && document.getElementById("end").value != "") {
                document.getElementById("mapLink").style.display = "inline";
                document.getElementById("shareButton").style.display = "inline";
            }
            if (document.getElementById("start").value == "")
                alert("Nao tem lugar de partida");
        }

        function copiar() {
            var copyText = document.getElementById("mapLink");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }

        function Myposition() {
            //console.log(minhapos);
            document.getElementById("start").value = minhapos.shift() + " " + minhapos.pop();
        }

        function verificaHoras() {
            var i = 0;
            var fim = false;
            var contador = 0;
            var x = document.getElementById("horasmins");
            var o = document.getElementById("idsOrders");
            Tempo.forEach(element => {
                if (contador > 0) {
                    
                    var ex = element.includes(":");
                    //console.log("ex " + ex);
                    if (ex) {
                        var separa = element.split(":");
                        var hours = separa[0];
                        var minutes = separa[1];
                    } else {
                        var hours = 0;
                        var minutes = element;
                    }
                    
                    


                    var texto = x.options[i].text;
                    var splite = texto.split(":");
                    var hmy = splite[0];
                    var mmy = splite[1];
                    minutes = parseInt(minutes) - (-(parseInt(hours * 60)));
                    console.log(minutes);
                    mmy = parseInt(mmy) - (-( parseInt(hmy * 60)));
                    console.log(mmy);
                    //console.log("horas " + hours);
                    //console.log("mins" + minutes);
                    //console.log("horas " + hmy);
                    //console.log("mins" + mmy);
                    
                    //if (hours <= hmy && !fim) {
                    //    alert("The order " + contador +" cannot be delivery on time!! CALL ADMIN!!");
                    //    fim = true;
                    //}
                     if (minutes > mmy && !fim) {
                        alert("The order " + o.options[i+1].text + " cannot be delivery on time!! CALL ADMIN!!");
                        fim = true;
                    }
                    i++;
                }
                else
                    contador++;
            })
        }
    </script>
</head>
<body>
    <input id="verifyHours" value="@ViewBag.TemHoras" style="display:none;" />
    <div id="map"></div>

    <div id="right-panel">
        <br />
        <div id="Container">
            <div id="StartDiv">
                <b>Start:</b>
                <br>
                <textarea id="start" type="text" class="form-control" cols="40" rows="3"></textarea>
            </div>


            @{ int contador = 1;}
            @if (Enumerable.Count(ViewBag.OrderAddress) > 1)
            {
                <div id="WaypointsDiv">
                    <b>Waypoints:</b> <br />


                    <select class="form-control" multiple id="waypoints" disabled>
                        @foreach (var item in ViewBag.OrderAddress)
                        {
                            if (contador < Enumerable.Count(ViewBag.OrderAddress))
                            {
                                <option value="@item" selected>@item</option>
                                contador++;
                            }

                        }




                        @*<option value="Lisbon">Lisbon</option>
                            <option value="Porto, Portugal">Porto</option>*@
                    </select>


                </div>
            }


            @*@if (ViewBag.OrderAddress.Count() > 0)*@

            <div id="EndDiv">
                <b>End:</b>
                <br>
                @if (Enumerable.Count(ViewBag.OrderAddress) > 0)
                {
                    <textarea id="end" type="text" class="form-control" cols="40" rows="3" disabled>@ViewBag.OrderAddress[contador-1]</textarea>
                }
                else
                {
                    <textarea id="end" type="text" class="form-control" cols="40" rows="3"></textarea>
                }
            </div>

            <div id="ButtonDiv">
                <input type="submit" class="btn btn-success" id="submit" onclick="aparece()" style="width:150px;" />
            </div>



        </div>
        <br />
        <div id="OtherContainer">
            <div id="MapLinkDiv">
                <input type="text" id="mapLink" style="display: none;" class="form-control" />
            </div>
            <br />
            <div id="ButtonLinkDiv" style="align-self:center;">
                <input type="button" onclick="prepareMapLink(parametro)" value="Share link" class=" btn btn-primary" id="shareButton" style="display: none; width:150px; " />
            </div>

            <div id="directions-panel" style="display:inline; height:300px;"></div>
        </div>

    </div>
    <select class="form-control" id="horasmins" style="display:none;">
        @{ int n = 0;}
        @if (ViewBag.Horas != null)
        {
            foreach (var item in ViewBag.Horas)
            {
                if (n < Enumerable.Count(ViewBag.Horas))
                {
                    <option value="@item">@item</option>
                    n++;
                }
            }
        }



    </select>

    <select class="form-control" id="idsOrders" style="display:none;">
        @{ int nn = 0;}
        @if (ViewBag.OrdersIds != null)
        {
            foreach (var item in ViewBag.OrdersIds)
            {
                if (n < Enumerable.Count(ViewBag.OrdersIds))
                {
                    <option value="@item">@item</option>
                    nn++;
                }
            }
        }



    </select>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT2nN7idS7w-y0V0i1AM2Dq0HopnVtQtI&callback=initMap&libraries=&v=weekly"
            async></script>
</body>
</html>