﻿@model Otimizacao_Rotas.Models.Order

@{
    ViewData["Title"] = "EditOrder";
}

<h1>EditOrder</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @*<label asp-for="ClientId" class="control-label "></label>*@
                <input asp-for="ClientId" class="form-control" style="display:none;"/>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Adress" class="control-label"></label>*@
                <input asp-for="Adress" class="form-control" style="display:none;"/>
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="date" class="control-label"></label>*@
                <input asp-for="date" class="form-control" style="display:none;"/>
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="CourierId" class="control-label"></label>*@
                <input asp-for="CourierId" class="form-control" style="display:none;"/>
                <span asp-validation-for="CourierId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Delivery" /> @Html.DisplayNameFor(model => model.Delivery)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListOrder">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
