﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="pb-4 pl-3 mb-3 centerdiv">
    <h1 class="display-4">Bem vindo ao distribuidor de rotas</h1>
</div>
<style>
    .centerdiv {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
</style>
