﻿@model IEnumerable<Otimizacao_Rotas.Models.Order>

@{
    ViewData["Title"] = "ListOrder";
}

<h1>ListOrder</h1>


<table class="table">
    <thead>
        <tr>
            @*<th>
                <p style="font-weight: bold;">Order Number</p>
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.CourierId)
        </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CourierId)
                </td>*@
                @if (User.IsInRole("Courier"))
                {
                    @if (item.Delivery)
                    {
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Delivery)*@
                            <input type="checkbox" checked id="checkboxDelivery" onclick="callfunction(@item.Id)" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <input type="checkbox" id="checkboxDelivery" onclick="callfunction(@item.Id)" />
                        </td>



                    }

                    @*<td>
                        @if (item.Delivery)
                        {
                            <button id="checkboxDelivery" onclick="callfunction(@item.Id)">Não Entregue</button>
                        }
                        else
                        {
                            <button id="checkboxDelivery" onclick="callfunction(@item.Id)">Entregue</button>
                        }
                    </td>*@
                }

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Delivery)
                    </td>
                    <td>
                        <a asp-action="EditOrder" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteOrder" asp-route-id="@item.Id">Delete</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

<script>
    function callfunction(id) {
        window.location.href = "/home/listorder/" + id;
    }
    function checkfunction(delivery) {
        if (delivery)
            document.getElementById("checkboxDelivery").checked = true;
        else
            document.getElementById("checkboxDelivery").checked = false;
    }
</script>